fieldset {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.selector {
    display: inline;
    float: left;
    margin: 0 30px 0 0;
}

label {
    display: block;
}

select {
    width: 250px;
}